<div class="rt-Dropdown" [class.rt-open]="isOpen()">
  <!-- Trigger Button -->
  <button
    #trigger
    [class]="triggerClasses()"
    type="button"
    [disabled]="disabled()"
    [attr.aria-expanded]="isOpen()"
    [attr.aria-haspopup]="'menu'"
    (click)="onTriggerClick()"
    (keydown)="onTriggerKeydown($event)"
  >
    @if (triggerIcon()) {
      <lucide-angular
        [name]="triggerIcon()!"
        size="16"
        class="rt-DropdownTriggerIcon"
      ></lucide-angular>
    }
    
    @if (triggerContent()) {
      <span class="rt-DropdownTriggerText">{{ triggerContent() }}</span>
    }
    
    <ng-content select="[slot=trigger]"></ng-content>
    
    @if (showArrow()) {
      <lucide-angular
        name="chevron-down"
        size="14"
        class="rt-DropdownTriggerArrow"
        [class.rt-rotated]="isOpen()"
      ></lucide-angular>
    }
  </button>

  <!-- Dropdown Content -->
  @if (isOpen()) {
    <div
      [class]="contentClasses()"
      role="menu"
      [attr.aria-labelledby]="trigger"
    >
      @for (item of items(); track item.id; let i = $index) {
        @if (item.separator) {
          <div class="rt-DropdownSeparator" role="separator"></div>
        } @else {
          @if (item.href) {
            <a
              [href]="item.href"
              [class]="getItemClasses(item, i)"
              role="menuitem"
              [attr.aria-disabled]="item.disabled"
              [tabindex]="item.disabled ? -1 : 0"
              (click)="onItemClick(item)"
              (keydown)="onItemKeydown($event, item, i)"
            >
              <div class="rt-DropdownItemContent">
                @if (item.icon) {
                  <lucide-angular
                    [name]="item.icon"
                    size="16"
                    class="rt-DropdownItemIcon"
                  ></lucide-angular>
                }
                
                <span class="rt-DropdownItemLabel">{{ item.label }}</span>
                
                @if (item.shortcut) {
                  <span class="rt-DropdownItemShortcut">{{ item.shortcut }}</span>
                }
              </div>
            </a>
          } @else {
            <button
              [class]="getItemClasses(item, i)"
              type="button"
              role="menuitem"
              [attr.aria-disabled]="item.disabled"
              [disabled]="item.disabled"
              [tabindex]="item.disabled ? -1 : 0"
              (click)="onItemClick(item)"
              (keydown)="onItemKeydown($event, item, i)"
            >
              <div class="rt-DropdownItemContent">
                @if (item.icon) {
                  <lucide-angular
                    [name]="item.icon"
                    size="16"
                    class="rt-DropdownItemIcon"
                  ></lucide-angular>
                }
                
                <span class="rt-DropdownItemLabel">{{ item.label }}</span>
                
                @if (item.shortcut) {
                  <span class="rt-DropdownItemShortcut">{{ item.shortcut }}</span>
                }
              </div>
            </button>
          }
        }
      } @empty {
        <div class="rt-DropdownEmpty">
          <span>No items available</span>
        </div>
      }
    </div>
  }
</div>
