@use '../../../../styles/animations';

:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rt-Spinner {
  display: inline-block;
  border: 2px solid var(--rag-primitive-color-gray-300);
  border-top-color: var(--rag-semantic-color-primary-500);
  border-radius: 50%;
}

.rt-Spinner.rt-mode-indeterminate {
  animation: spin 0.6s linear infinite;
}

.rt-Spinner.rt-mode-determinate {
  animation: none;
  transform: rotate(-90deg);
}

.rt-Spinner.rt-size-sm {
  width: 16px;
  height: 16px;
}

.rt-Spinner.rt-size-md {
  width: 24px;
  height: 24px;
}

.rt-Spinner.rt-size-lg {
  width: 32px;
  height: 32px;
}
