<div [class]="containerClasses()">
  <div class="rt-input-wrapper">
    @if (leftIcon()) {
      <rag-icon 
        [img]="leftIcon()!" 
        size="sm" 
        class="rt-input-left-icon"
      />
    }
    
    <input
      [class]="inputClasses()"
      [type]="type()"
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      [readonly]="readonly()"
      [attr.maxlength]="maxlength()"
      [value]="currentValue()"
      (input)="handleInput($event)"
      (focus)="handleFocus($event)"
      (blur)="handleBlur($event)"
    />
    
    @if (rightIcon()) {
      <rag-icon
        [img]="rightIcon()!"
        size="sm"
        class="rt-input-right-icon"
        (click)="handleRightIconClick()"
      />
    }

    @if (showBrowseButton()) {
      <rag-button
        type="button"
        variant="outline"
        size="sm"
        class="rt-input-browse-button"
        [disabled]="disabled()"
        (onClick)="handleBrowseClick()">
        <rag-icon [img]="browseIcon()" size="sm" />
        Browse
      </rag-button>
    }
  </div>
</div>
