<div [class]="containerClasses()">
  <div class="rt-input-wrapper">
    @if (leftIcon()) {
      <rag-icon 
        [name]="leftIcon()!" 
        size="sm" 
        class="rt-input-left-icon"
      />
    }
    
    <input
      [class]="inputClasses()"
      [type]="type()"
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      [readonly]="readonly()"
      [maxlength]="maxlength()"
      [value]="value"
      (input)="handleInput($event)"
      (focus)="handleFocus($event)"
      (blur)="handleBlur($event)"
    />
    
    @if (rightIcon()) {
      <rag-icon 
        [name]="rightIcon()!" 
        size="sm" 
        class="rt-input-right-icon"
        (click)="handleRightIconClick()"
      />
    }
  </div>
</div>
